<h1>Create a bookmark</h1>

<div class="card d-flex inline-block m-3 p-3">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>

<p> <%= link_to 'back to list', lists_path %> </p>
</div>
